= twitter_bootstrap_form_for(@garment, :html => { :class => 'form-horizontal' }) do |f|
  = f.fieldset legend do
    = f.select :garment_type_id,
               t('garment_types.short_name'),
               options_from_collection_for_select(@garment_types, 'id', 'name')
    = f.price_field :price, :class => "input-small"
    = f.actions do
      = f.submit t(:submit)
      = button_tag t(:cancel), :type => 'reset', :class => 'btn'
