%h2= @garment
%p
  %strong= t('models.garment_type.short_name')
  = @garment.garment_type
%p
  %strong= t(:price)
  = number_to_currency(@garment.price)
%p
  - if @garment.sold?
    %strong= t(:sold)
    on #{l(@garment.sold_at.to_date, :format => :long)}.
  - else
    = link_to t('models.garment.sell'),
        sell_garment_path(@garment),
        :class => 'btn btn-primary'
