%h2= @garment
%p
  %strong= t('models.garment_type.short_name')
  = @garment.garment_type
%p
  %strong= t(:price)
  = number_to_currency(@garment.price)
%p
  %strong= t('models.garment.created_at')
  = l(@garment.created_at.to_date, :format => :long)
%p
  - if @garment.sold?
    %strong= t('models.garment.sold_at')
    = l(@garment.sold_at.to_date, :format => :long)
  - else
    = link_to t(:sell),
        new_sale_path(:garment_id => @garment.id),
        :class => 'btn btn-primary'
