= twitter_bootstrap_form_for(@garment_type, :horizontal => true) do |f| 
  = f.fieldset legend do
    = f.text_field :name
    = f.actions do
      = f.submit t(:submit)
      = button_tag t(:cancel), :type => 'reset', :class => 'btn'
