<%= form_for(@garment_type) do |f| %>
  <%= render 'shared/error_messages', :target => @garment_type %>
 
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
