<p id="notice"><%= notice %></p>
 
<p>
  <b>Type:</b>
  <%= @garment_type.name %>
</p>
 
<%= link_to 'Edit', edit_garment_type_path(@garment_type) %> |
<%= link_to 'Delete', @garment_type, :method => :delete,
                                     :confirm => 'Are you sure?' %> |
<%= link_to 'Back', garment_types_path %>
