<h2>Garment type: <%= @garment_type.name %></h2
<p id="notice"><%= notice %></p>
 
<p>
  <b>Measured by</b>
  <%= @garment_type.measured_by.capitalize %>
</p>
 
<%= link_to 'Edit', edit_garment_type_path(@garment_type) %> |
<%= link_to 'Delete', @garment_type, :method => :delete,
                                     :confirm => 'Are you sure?' %> |
<%= link_to 'Back', garment_types_path %>
