<%= form_for(@garment_description) do |f| %>
  <% if @garment_description.errors.any? %>
  <div id="errorExplanation">
    <p>
      <%= pluralize(@garment_description.errors.count, "error") %>
      prohibited this garment description from being saved:
    </p>
    <ul>
    <% @garment_description.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
 
  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
