%h2 Sales

%table.table.table-striped
  %thead
    %tr
      %th Garment
      %th Type
      %th Price
      %th Received date
      %th Sold date
  %tbody
    - if @sold_garments.any?
      - @sold_garments.each do |sg|
        %tr
          %td= link_to(sg.to_short_s, garment_path(sg))
          %td= sg.garment_type
          %td= number_to_currency(sg.price)
          %td= l(sg.created_at.to_date, :format => :long)
          %td= l(sg.sold_at.to_date, :format => :long)

%p.pull-right
  = succeed ':' do
    = t('also-available-as')
  = link_to('CSV', url_for(:format => :csv))
