%h2= t('sales.name').pluralize

%table.table.table-striped
  %thead
    %tr
      - garment_attributes(@sold_garments.first).map(&:first).each do |th|
        %th= th
  %tbody
    - if @sold_garments.any?
      - @sold_garments.find_each do |sg|
        %tr
        - garment_attributes(sg).map(&:last).each do |td|
          %td= td

%p.pull-right
  = succeed ':' do
    = t('also-available-as')
  = link_to('CSV', url_for(:format => :csv))
