!!! 5
%html
  %head
    %title School Shop
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %h1 School Shop
    %nav
      %ul
        %li= link_to Garment.model_name.human.pluralize, garments_path
        %li= link_to GarmentType.model_name.human.pluralize, garment_types_path
    .clear
    .content
      = render 'layouts/show_flash'
      = yield
