!!! 5
%html
  %head
    %title School Shop
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1")
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      %header
        %h1 School Shop
        = render 'layouts/navigation'
      %section#main
        = render 'layouts/show_flash'
        = yield
